.navbar{
    background: linear-gradient(0.25turn, rgba(255, 255, 255, 1), rgba(54, 48, 98, 1),rgba(54, 48, 98, 1));
  }

.link{
color: white;
}

.logo{
    height: 40px;
    width: 92.32px;
   
}

